%h1 Add a picture

= render 'form'

= link_to 'Back', reports_path

%hr
%h1 How to set up a photo shuriken
%p
  This page includes a form tag like below.
%code
  &lt;form accept-charset=&quot;UTF-8&quot; action=&quot;/reports&quot; class=&quot;new_report&quot; enctype=&quot;multipart/form-data&quot; id=&quot;new_report&quot; method=&quot;post&quot;&gt;
  %br
  &lt;input id=&quot;report_photo&quot; name=&quot;report[photo]&quot; type=&quot;file&quot;&gt;
  %br
  &lt;textarea cols=&quot;60&quot; id=&quot;report_description&quot; name=&quot;report[description]&quot; rows=&quot;5&quot;&gt;&lt;/textarea&gt;
  %br
  &lt;input name=&quot;commit&quot; type=&quot;submit&quot; value=&quot;Submit&quot;&gt;
  %br
  &lt;/form&gt;
  %br
  %br

%p
  First, set the title "Tatami" which reminds you to about this site.
  %br

%p
  URL is http://tatami.herokuapp.com/reports in this case. 
  %br
  And set the method POST. 
  %br
  You will understand these settings from the from tag.

%p
  Next, check the name attribute for a file uploading from the input tag. Fill "report[photo]" to the field name. 

  %br
  %br
  #{image_tag "settings_rails_file.png"}
  %br
  %br

%p
  For adding a description, you need to add a new setting (Name, Value). 
  %br
  Set "Description" to the human-readable name.  
  %br
  Fill "report[description]" to the Name attribute of the Input tag. 
  %br
  To make editable, you need to turn on the editable switch.
  %br
  %br
  #{image_tag "settings_rails_description.png"}
  %br
  %br
  

= link_to 'Back', reports_path
