%h1 Report
%p#notice= notice

%p
= image_tag(@report.photo.url(:medium)) 
%p
= link_to 'Original', @report.photo.url 
%p
  %b Description:
  = simple_format @report.description
- if @report.latitude
  %p
    %b Location:
    Latitude:#{@report.latitude} Longitude:#{@report.longitude}
    %br
    %a{ href:"https://maps.google.com/maps?q=#{@report.latitude},#{@report.longitude}&hl=ja&sll=#{@report.latitude},#{@report.longitude}&sspn=0.035103,0.060511&t=m&z=16", target:"_blank"} view on the map.

= link_to 'Back', reports_path
